/* 1. Basic */

html {
    background-color: #5f45bb;
    background-image: linear-gradient(to bottom right, #180cac, #d054e4);
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 300px;
    overflow-x: hidden;
    text-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}

a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
}

/* 2. Shared */

.wallpaper {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.wallpaper,
.picture-shadow,
.picture-image {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.job,
.button,
.location {
    font-family: "Montserrat", "Quicksand", sans-serif;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.button,
.social a {
    transform-origin: center;
    transition-duration: 100ms;
}

.wallpaper,
.picture-shadow,
.picture-image,
.name,
.job,
.hr,
.description,
.location,
.contact,
.social li {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
    animation-fill-mode: both;
}

/* 3. Specific */

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navigation ul {
    display: flex;
    justify-content: flex-end;
    height: 5rem;
}

.navigation li {
    margin: 1rem;
}

.navigation li a {
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    will-change: box-shadow, transform;
}

.navigation li a:hover {
    border-bottom: 1px solid white;
}

.wallpaper {
    background-image: url(../images/background.jpg);
    background-position: center;    
    background-size: cover;
    opacity: 0.2;
    position: fixed;
}

.content {
    display: flex;
    position: relative;
    flex-grow: 1;
}

.side {
    max-height: 20rem;
    max-width: 20rem;
}

.about {
    max-width: 26rem;
}

.picture {
    padding-top: 100%;
    position: relative;
    width: 100%;
}

.picture-shadow {
    border-radius: 051091px;
    background-image: radial-gradient(#000 0%, rgba(0, 0, 0, 0) 70%);
    position: abolute;
    top: 10%;
}

.picture-image {
    border-radius: 051091px;
    position: absolute;    
}

.name {
    font-size: 2.25rem;
    line-height: 1.125;
    margin-bottom: 0.5rem;
}

.job,
.location {
    color: #ffe479;
    font-size: 0.75rem;
}

.hr {
    background-color: #ff470f;
    border: none;
    content: "";
    height: 1px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    transform-origin: center left;
    width: 4rem;
}

.description {
    font-size: 1.5rem;
}

.contact {
    display: inline-block;
    margin-top: 1.5rem;
    vertical-align: top;
}

.button {
    background-color: #fff;
    border-radius: 051091px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    color: #9013fe;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1;
    padding: 1.25em 2em;
    text-shadow: none;
    transition-property: box-shadow, transform;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    will-change: box-shadow, transform;
}

.button:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .2);
    transform: scale(1.02) translateY(-4px);
}

.button:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .3);
    transform: scale(0.98) translateY(-2px);
}

.social {
    display: flex;
    margin-top: 1.5rem;    
}

.social li {
    height: 2rem;
    margin-right: 0.5rem;
    text-align: center;
    width: 2rem;
}

.social a {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    height: 2rem;
    justify-content: center;
    opacity: 0.5;
    transition-property: opacity, transform;
    width: 2rem;
    will-change: opacity, transform;
}

.social a:hover {
    opacity: 1;
    transform: scale(1.25);
}

.social a:active {
    opacity: 1;
    transform: scale(1.1);
}

.location {
    white-space: nowrap;
}

.contact {
    animation-name: bounceIn;
}

.picture-shadow,
.picture-image {
    animation-duration: 750ms;
    animation-timing-function: cubic-bezier(0, 0.5, 0.25, 1.25);
}

.wallpaper {
    animation-timing-function: ease-out;
}

.wallpaper.is-loaded {
    animation-name: zoomOut;
}

.picture.is-loaded .picture-shadow {
    animation-name: picShadow;
}

.picture.is-loaded .picture-image {
    animation-name: picImage;
}

.name {
    animation-name: slideDown;    
}

.job {
    animation-name: slideUp;
}

.hr {
    animation-name: fillUp;
}

.description {
    animation-name: slideUp;
}

.location {
    animation-name: slideUp;
}

.social li {
    animation-duration: 500ms;
    animation-name: slideUp;
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1.5);
}

.name {
    animation-delay: 100ms;
}

.job {
    animation-delay: 200ms;
}

.hr {
    animation-delay: 300ms;
}

.description {
    animation-delay: 400ms;
}

.location {
    animation-delay: 500ms;
}

.picture-image {
    animation-delay: 600ms;
}

.picture-shadow {
    animation-delay: 600ms;
}

.contact {
    animation-delay: 700ms;
}

.social li:nth-child(1) {
    animation-delay: 800ms;   
}

.social li:nth-child(2) {
    animation-delay: 900ms;   
}

.social li:nth-child(3) {
    animation-delay: 1s;   
}

.social li:nth-child(4) {
    animation-delay: 1.1s;   
}

.wallpaper,
.picture-shadow,
.picture-image {
    opacity: 0;
}

.location {
    margin-top: 1.5rem;
    letter-spacing: 0.2rem;
}

.location p {
    display: inline-block;
    margin-left: 0.5rem;
}

/* 4. Responsiveness */

@media screen and (max-width: 799px) {
    .navigation ul {
        margin: 0;
    }
    
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 3rem;
    }

    .side {
        margin-bottom: 3rem;
        width: 100%;
    }

    .contact,
    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    .navigation ul {
        margin: 0 15rem;
    }

    .content {
        align-items: center;
        justify-content: space-around;
        justify-content: space-evenly;
        padding: 4rem;
    }

    .side {
        flex-grow: 0;
        flex-shrink: 0;
        height: 20rem;
        margin-left: 4rem;
        order: 2;
        width: 20rem;
    }
    
    .about {
        flex-grow: 1;
        flex-shrink: 1;
    }
}